.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.modalContent {
  font-size: 1.25rem;
  font-weight: 600;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  background-color: var(--input-bg-red);
  border: unset;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 0.225rem;

  &:hover {
    cursor: pointer;
  }
}
